.article-content {
    overflow-y: auto; /* Allow vertical scrolling */
    height: 100%;
    padding: 10px;
}

/* Styles for images within the article */
.article-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
    border: 2px solid #000;
}

/* Ensure the main gallery window's content area fills the available space */
#gallery-window .content {
    padding: 0;
    max-height: none; /* Override any potential max-height from other styles */
}

#nav-window .content {
    max-height: fit-content;
}